#PORT=3000
#DB_ADDRESS: mongodb://root:example@mongo:27017/ - использовть эту переменную окружения, если запускаем в Docker
#DB_ADDRESS=mongodb://127.0.0.1:27017/weblarek
#UPLOAD_PATH=images
#UPLOAD_PATH_TEMP=temp
#ORIGIN_ALLOW=http://localhost:5173
#AUTH_REFRESH_TOKEN_EXPIRY=7d
#AUTH_ACCESS_TOKEN_EXPIRY=1m
NODE_ENV="production"
# App settings
APP_PORT="3082"
APP_HOST="localhost"
BASE_PATH=http://localhost:3082
UPLOAD_PATH="images"
UPLOAD_PATH_TEMP="temp"
LOG_LEVEL="info"
# DB settings
#DB_ADDRESS: mongodb://root:example@mongo:27017/
DB_ADDRESS="mongodb://mongo:27017/weblarek"
# Auth settings
AUTH_REFRESH_TOKEN_EXPIRY="7d"
AUTH_ACCESS_TOKEN_EXPIRY="1m"
AUTH_SECRET="your_secret_key"
AUTH_CSRF_SECRET="H4HpNVBu9u5OY21YkboiV73Z"
