@use '@styles/mixins' as mixins;
@use '@styles/variables' as *;

.gallery {
  max-width: 100vw;
  @include mixins.container;
  @include mixins.grid(400px, 24px);

  &__item {
    border: none;
    border-radius: $defaultBorderRadius;
    @include mixins.selectable($secondary, 2px, $primaryLight);

    &::after {
      border-radius: 0.8rem;
    }
  }
}
